html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New";
}

#main-wrapper {
    width: 1090px;
    margin: 10px 0;
    position: absolute;
    left: 0px;
}

.clr {
    clear: both;
}

#notes {
    width: 625px;
    position: absolute;
    top: 7px;
    left: 455px;
    font-family: "Mercury SSm A", "Mercury SSm B";
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
    background: #fff;
    padding-left: 10px;
}

#notes h1 {
    font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New";
    font-size: 24px;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#notes p {
    margin-bottom: 20px;
    background: #fff;
}

#demographics {
    font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New";
    font-style: normal;
    background: #fff;
    padding: 6px;
    border: 1px solid #000;
}

#demographics .section {
    margin-right: 20px;
    font-size: 13px;
    float: left;
    margin-bottom: 15px;
}

#demographics .race {
    margin-right: 0;
}

#demographics .race .column {
    float: left;
    width: 140px;
}

#demographics .firstmar {
    width: 100%;
    border-top: 2px solid #ccc;
    padding-top: 6px;
    margin-right: 0;
    margin-bottom: 0;
}

h3 {
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 2px solid #ccc;
    padding: 3px 0px;
    margin-bottom: 3px;
    text-align: center;
}

.button {
    width: 130px;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
}

.button:hover {
    background: #e0e0e0;
}

.button.current {
    background: #000;
    color: #fff;
}

#chart {
    position: absolute;
    top: 0;
}

svg {
    font: 14px 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New";
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 14px;
}

.y.axis path {
    display: none;
}

.y.axis line {
    stroke: #e0e0e0;
}

path.domain {
    stroke-width: 2px;
}

path.line {
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 3px;
}

path.male {
    stroke: #F98229;
}

path.female {
    stroke: #4AC2BC;
}

.baseline line {
    stroke: #000;
    stroke-width: 3px;
}

line.annotation {
    stroke: #ccc;
    stroke-dasharray: 5, 2;
    stroke-width: 1.2px;
}

text.annotation,
#line-chart .agehighlight text {
    font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New";
    font-size: 14px;
    fill: #444;
    text-anchor: end;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus.male circle {
    fill: #F98229;
    stroke: #000;
}

.focus.female circle {
    fill: #4AC2BC;
    stroke: #000;
}

.focus text {
    text-shadow: 0 3px 0 #fff, 3px 0 0 #fff, 0 -3px 0 #fff, -3px 0 0 #fff;
}